:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #9B479F;
    --pink: #e83e8c;
    --red: #D9230F;
    --orange: #D9831F;
    --yellow: #ffc107;
    --green: #469408;
    --teal: #20c997;
    --cyan: #029ACF;
    --white: #fff;
    --gray: #777;
    --gray-dark: #373a3c;
    --primary: #D9230F;
    --secondary: #fff;
    --success: #469408;
    --info: #029ACF;
    --warning: #9B479F;
    --danger: #D9831F;
    --light: #fff;
    --dark: #373a3c;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }